# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/ZG.VC.VC.opendb
/.vs/ZG/v14
/Debug
/ZG/Debug/ZG.tlog/ZG.write.1u.tlog
/ZG/Debug/ZG.tlog/ZG.lastbuildstate
/ZG/Debug/ZG.tlog/link.write.1.tlog
/ZG/Debug/ZG.tlog/link.read.1.tlog
/ZG/Debug/ZG.tlog/link.command.1.tlog
/ZG/Debug/ZG.tlog/CL.write.1.tlog
/ZG/Debug/ZG.tlog/CL.read.1.tlog
/ZG/Debug/ZG.tlog/CL.command.1.tlog
/ZG/Debug/ZG.log
/ZG/Debug/vc140.pdb
/ZG/Debug/vc140.idb
