# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/ZG.VC.VC.opendb
/.vs/ZG/v14
/Debug
/ZG/Debug/ZG.tlog/ZG.write.1u.tlog
/ZG/Debug/ZG.tlog/ZG.lastbuildstate
/ZG/Debug/ZG.tlog/link.write.1.tlog
/ZG/Debug/ZG.tlog/link.read.1.tlog
/ZG/Debug/ZG.tlog/link.command.1.tlog
/ZG/Debug/ZG.tlog/CL.write.1.tlog
/ZG/Debug/ZG.tlog/CL.read.1.tlog
/ZG/Debug/ZG.tlog/CL.command.1.tlog
/ZG/Debug/ZG.log
/ZG/Debug/vc140.pdb
/ZG/Debug/vc140.idb
/ipch/TEST-d38b3485/TEST-108d03ac.ipch
/Test/Debug/vc140.pdb
/Test/Debug/vc140.idb
/Test/Debug/Test.vcxprojResolveAssemblyReference.cache
/Test/Debug/Test.tlog/Test.write.1u.tlog
/Test/Debug/Test.tlog/Test.lastbuildstate
/Test/Debug/Test.tlog/link.write.1.tlog
/Test/Debug/Test.tlog/link.read.1.tlog
/Test/Debug/Test.tlog/link.command.1.tlog
/Test/Debug/Test.tlog/CL.write.1.tlog
/Test/Debug/Test.tlog/CL.read.1.tlog
/Test/Debug/Test.tlog/CL.command.1.tlog
/Test/Debug/Test.log
/x64/Release/ZG.pdb
/x64/Release/ZG.ipdb
/x64/Release/ZG.iobj
/x64/Release/ZG.exp
/ZG/x64/Release/ZG.tlog/ZG.write.1u.tlog
/ZG/x64/Release/ZG.tlog/ZG.lastbuildstate
/ZG/x64/Release/ZG.tlog/link.write.1.tlog
/ZG/x64/Release/ZG.tlog/link.read.1.tlog
/ZG/x64/Release/ZG.tlog/link.command.1.tlog
/ZG/x64/Release/ZG.tlog/CL.write.1.tlog
/ZG/x64/Release/ZG.tlog/CL.read.1.tlog
/ZG/x64/Release/ZG.tlog/CL.command.1.tlog
/ZG/x64/Release/ZG.log
/ZG/x64/Release/vc140.pdb
/ZG/Debug/ZG.Build.CppClean.log
/x64/Debug/ZG.pdb
/x64/Debug/ZG.ilk
/x64/Debug/ZG.exp
/x64/Debug/Test.pdb
/x64/Debug/Test.ilk
/x64/Debug/Test.exp
/Test/x64/Debug/vc140.pdb
/Test/x64/Debug/vc140.idb
/Test/x64/Debug/Test.vcxprojResolveAssemblyReference.cache
/Test/x64/Debug/Test.tlog/Test.write.1u.tlog
/Test/x64/Debug/Test.tlog/Test.lastbuildstate
/Test/x64/Debug/Test.tlog/link.write.1.tlog
/Test/x64/Debug/Test.tlog/link.read.1.tlog
/Test/x64/Debug/Test.tlog/link.command.1.tlog
/Test/x64/Debug/Test.tlog/CL.write.1.tlog
/Test/x64/Debug/Test.tlog/CL.read.1.tlog
/Test/x64/Debug/Test.tlog/CL.command.1.tlog
/Test/x64/Debug/Test.log
/Test/Test.vcxproj.user
/Test/Debug/Test.Build.CppClean.log
/ZG/x64/Release/ZG.Build.CppClean.log
/ZG/x64/Debug/ZG.tlog/ZG.write.1u.tlog
/ZG/x64/Debug/ZG.tlog/ZG.lastbuildstate
/ZG/x64/Debug/ZG.tlog/link.write.1.tlog
/ZG/x64/Debug/ZG.tlog/link.read.1.tlog
/ZG/x64/Debug/ZG.tlog/link.command.1.tlog
/ZG/x64/Debug/ZG.tlog/CL.write.1.tlog
/ZG/x64/Debug/ZG.tlog/CL.read.1.tlog
/ZG/x64/Debug/ZG.tlog/CL.command.1.tlog
/ZG/x64/Debug/ZG.log
/ZG/x64/Debug/vc140.pdb
/ZG/x64/Debug/vc140.idb
/ZGAndroid/ZGAndroid.vcxproj.filters
/ZGAndroid/ZGAndroid.vcxproj
/ZGAndroid/ZGAndroid.h
/ZGAndroid/ZGAndroid.cpp
/ZGAndroid/x86/Debug/ZGAndroid.tlog/ZGAndroid.lastbuildstate
/ZGAndroid/x86/Debug/ZGAndroid.tlog/unsuccessfulbuild
/ZGAndroid/x86/Debug/ZGAndroid.tlog/Microsoft.Build.CPPTasks.ClangCompile.write.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/Microsoft.Build.CPPTasks.ClangCompile.read.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/clang.read.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/clang.command.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/clang.39744.write.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/clang.39744.read.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/clang.39120.write.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/clang.39120.read.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/clang.37580.write.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/clang.37580.read.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/clang.37524.write.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/clang.37524.read.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/clang.36032.write.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/clang.36032.read.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/clang.33260.write.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/clang.33260.read.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/clang.31580.write.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.tlog/clang.31580.read.1.tlog
/ZGAndroid/x86/Debug/ZGAndroid.log
/ZGAndroid/Test.c
/ZGAndroid/pch.h
/ZGAndroid/ARM/Debug/ZGAndroid.tlog/ZGAndroid.write.1u.tlog
/ZGAndroid/ARM/Debug/ZGAndroid.tlog/ZGAndroid.lastbuildstate
/ZGAndroid/ARM/Debug/ZGAndroid.tlog/Microsoft.Build.CPPTasks.ClangLink.write.1.tlog
/ZGAndroid/ARM/Debug/ZGAndroid.tlog/Microsoft.Build.CPPTasks.ClangLink.read.1.tlog
/ZGAndroid/ARM/Debug/ZGAndroid.tlog/Microsoft.Build.CPPTasks.ClangCompile.write.1.tlog
/ZGAndroid/ARM/Debug/ZGAndroid.tlog/Microsoft.Build.CPPTasks.ClangCompile.read.1.tlog
/ZGAndroid/ARM/Debug/ZGAndroid.tlog/clang.command.1.tlog
/ZGAndroid/ARM/Debug/ZGAndroid.log
/ipch/TEST-d38b3485/TEST-a958e4a.ipch
